:root {
  --color-black: black;
  --color-white: white;
  --color-primary: #222222;
  --color-primary-dark: #1f1f1f;
  --color-secondary: #f26c4f;
  --color-tertiary: #00feba;
  --text-color: #c4c4c4; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden; }
  @media only screen and (max-width: 61.9375em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 49.025em) {
    html {
      font-size: 40%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 70%; } }
  @media only screen and (min-width: 143.75em) {
    html {
      font-size: 100%; } }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  background-repeat: no-repeat;
  overflow-x: hidden;
  color: white; }

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  font-weight: 300; }

.link-box,
.link-box:link,
.link-box:visited {
  margin-right: 3rem;
  color: white;
  text-decoration: none;
  transition: all 0.25s linear; }
  .link-box:hover,
  .link-box:link:hover,
  .link-box:visited:hover {
    cursor: pointer;
    color: var(--color-secondary); }

.main-box {
  background-color: var(--color-secondary);
  padding: 0.5rem 1.5rem;
  font-size: 3.5rem;
  font-weight: 700; }
  .main-box:hover {
    cursor: pointer; }

.language-changer,
.language-changer:link,
.language-changer:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary);
  padding: 0.75rem 1.5rem;
  font-size: 2rem;
  font-weight: 300;
  color: white;
  text-decoration: none;
  transition: all 0.3s; }
  .language-changer:hover,
  .language-changer:link:hover,
  .language-changer:visited:hover {
    cursor: pointer; }

.world-icon {
  margin-left: 0.75rem;
  font-size: 1.4rem; }

.world-icon-mobile {
  font-size: 3rem; }

.name-content {
  position: relative;
  color: white;
  font-size: 14rem;
  font-weight: 700;
  max-width: 60rem;
  line-height: 13.5rem;
  margin-top: 15rem; }
  @media only screen and (max-width: 56.25em) {
    .name-content {
      font-size: 10rem;
      margin-top: 10rem;
      line-height: 11.5rem; } }

.last-name {
  margin-left: 12rem; }
  @media only screen and (max-width: 56.25em) {
    .last-name {
      margin-left: 10rem; } }

.small-title-alt {
  min-width: 20rem;
  font-size: 2rem;
  font-weight: 400;
  color: var(--color-tertiary); }
  @media only screen and (max-width: 56.25em) {
    .small-title-alt {
      min-width: auto; } }

.bar {
  height: 1px;
  width: 100%;
  margin-left: 2rem;
  background-color: var(--color-tertiary); }
  @media only screen and (max-width: 56.25em) {
    .bar {
      display: none; } }

.title {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 3rem; }

.text {
  font-size: 2.35rem;
  line-height: 1.5;
  margin-bottom: 3rem;
  font-weight: 300;
  color: var(--text-color); }

.resume-contact {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--color-tertiary); }

.arrow {
  position: absolute;
  bottom: 0; }
  @media only screen and (max-width: 56.25em) {
    .arrow {
      display: none; } }

.title-main-color {
  color: var(--color-secondary);
  min-width: auto; }

.bar-small {
  width: 4rem;
  background-color: var(--color-secondary); }

.btn {
  font-size: 1.8rem;
  padding: 1rem 2.5rem;
  background-color: var(--color-secondary);
  color: white;
  font-weight: 500;
  transition: all 0.25s linear; }
  .btn:hover {
    color: white;
    filter: brightness(115%); }

.about-contact {
  text-decoration: underline; }

.envelope-icon,
.envelope-icon:link,
.envelope-icon:visited {
  margin-left: 1.5rem;
  color: var(--color-tertiary);
  text-decoration: underline; }
  .envelope-icon:hover,
  .envelope-icon:link:hover,
  .envelope-icon:visited:hover {
    cursor: pointer; }

.title-link {
  min-width: auto; }
  @media only screen and (max-width: 56.25em) {
    .title-link {
      text-align: center !important; } }

.right-arrow {
  margin-left: 1.5rem;
  transition: all 0.25s linear; }
  @media only screen and (max-width: 56.25em) {
    .right-arrow {
      display: none; } }

.small-title,
.small-title:visited,
.small-title:link {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  font-weight: 400;
  filter: brightness(80%);
  transition: all 0.25s linear; }
  .small-title:hover,
  .small-title:visited:hover,
  .small-title:link:hover {
    cursor: pointer;
    filter: brightness(100%); }

.github-icon {
  margin-left: 1rem; }

.arrow-icon-slide {
  font-size: 2rem; }

.tablet-carousel {
  width: 85rem;
  object-fit: contain; }
  @media only screen and (max-width: 100em) {
    .tablet-carousel {
      width: 70rem; } }
  @media only screen and (max-width: 81.25em) {
    .tablet-carousel {
      width: 60rem; } }
  @media only screen and (max-width: 81.25em) {
    .tablet-carousel {
      display: none; } }

@media only screen and (max-width: 100em) {
  .carousel-control-next,
  .carousel-control-prev {
    width: 5rem; }
    .carousel-control-next:hover,
    .carousel-control-prev:hover {
      width: 5rem; } }

.carousel-item {
  transition: all 0.8s ease-in-out; }

.plane-tablet {
  width: 74rem; }
  @media only screen and (max-width: 81.25em) {
    .plane-tablet {
      display: none; } }

.underline {
  text-decoration: underline; }

.ig-link,
.ig-link:visited,
.ig-link:link {
  color: var(--color-secondary) !important;
  transition: all 0.25s linear; }
  .ig-link:hover,
  .ig-link:visited:hover,
  .ig-link:link:hover {
    cursor: pointer;
    filter: brightness(120%);
    text-decoration: none; }

.color-secondary {
  color: var(--color-secondary); }

.info-text {
  margin: 0;
  font-size: 2rem;
  font-weight: 500; }

.title-small {
  font-size: 2.5rem; }

.info-icon {
  font-size: 4rem;
  height: 4rem;
  width: 4rem;
  margin-right: 2rem;
  color: var(--color-secondary); }

.phone-icon {
  font-size: 6rem; }

.title-color-tertiary {
  color: var(--color-tertiary); }

.input {
  padding: 1.5rem 5rem 1.5rem 2rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  width: 100%;
  background-color: #303030;
  color: #c4c4c4;
  font-weight: 500;
  border: none; }
  .input::placeholder {
    font: "Poppins";
    color: #c4c4c4;
    font-weight: 500; }

.input-textarea {
  height: 12.5rem;
  resize: none; }

.input-icon {
  font-size: 1.6rem;
  color: var(--color-tertiary);
  margin-top: 1.5rem;
  margin-left: -4rem;
  z-index: 100; }

.submit-btn {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  font-size: 1.6rem; }
  .submit-btn:hover {
    color: var(--color-primary); }

.copyright-text {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-color); }

.error-text {
  font-size: 1.6rem;
  color: var(--color-secondary);
  margin: 0.5rem 0; }

.hasnt-error {
  box-shadow: 0 0 0.3rem 0.1rem #00feba; }

.has-error {
  box-shadow: 0 0 0.3rem 0.1rem #f26c4f;
  margin-bottom: 0rem; }

.status-msg {
  text-align: center;
  padding: 1.5rem 5rem 1.5rem 2rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  width: 100%;
  font-weight: 500;
  border: none; }

.err {
  background-color: var(--color-secondary);
  color: white; }

.success {
  background-color: var(--color-tertiary);
  color: var(--color-primary); }

[data-aos="fadeUpSlow"] {
  opacity: 0;
  transform: translateY(1rem); }

[data-aos="fadeUpSlow"].aos-animate {
  opacity: 1;
  transform: translateY(0); }

[data-aos="tablet"] {
  width: 120rem;
  transform: translateX(-20rem); }

[data-aos="tablet"].aos-animate {
  width: 74rem;
  transform: translateX(0); }

[data-aos-delay="3500"][data-aos].aos-animate,
[data-aos][data-aos][data-aos-delay="3500"].aos-animate {
  transition-delay: 3.5s; }

[data-aos-delay="4000"][data-aos].aos-animate,
[data-aos][data-aos][data-aos-delay="4000"].aos-animate {
  transition-delay: 4s; }

[data-aos-delay="4500"][data-aos].aos-animate,
[data-aos][data-aos][data-aos-delay="4500"].aos-animate {
  transition-delay: 4.5s; }

[data-aos-delay="5000"][data-aos].aos-animate,
[data-aos][data-aos][data-aos-delay="5000"].aos-animate {
  transition-delay: 5s; }

[data-aos-delay="5500"][data-aos].aos-animate,
[data-aos][data-aos][data-aos-delay="5500"].aos-animate {
  transition-delay: 5.5s; }

.bars-icon {
  font-size: 3rem; }
  .bars-icon:hover {
    color: white; }

.certificate-img {
  width: 100rem;
  margin-top: 4rem; }
  @media only screen and (max-width: 42.8125em) {
    .certificate-img {
      width: 80rem; } }
  @media only screen and (max-width: 31.25em) {
    .certificate-img {
      width: 60rem; } }
  @media only screen and (max-width: 24.375em) {
    .certificate-img {
      width: 50rem; } }

.intro {
  position: relative;
  background-color: var(--color-primary);
  padding-bottom: 12rem; }

.intro-certificate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; }

.about {
  position: relative;
  background-color: var(--color-primary-dark);
  padding: 13rem 0; }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white !important;
  font-size: 1.9rem;
  padding: 1.5rem 0; }
  @media only screen and (max-width: 61.9375em) {
    .nav {
      display: none; } }

.navbar-mobile {
  display: none;
  align-items: center;
  justify-content: space-between;
  color: white !important;
  font-size: 1.9rem;
  padding: 1.5rem 0; }
  @media only screen and (max-width: 61.9375em) {
    .navbar-mobile {
      display: flex; } }

.nav-active {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.links-mobile {
  font-size: 3rem; }

.link-box-mobile {
  margin-bottom: 1.5rem; }

.close-cross {
  position: absolute;
  font-size: 3rem;
  top: 2.5rem;
  right: 5.5rem; }

.container {
  max-width: 1300px; }

.content {
  display: flex; }

.resume {
  margin-left: auto;
  margin-top: 18rem;
  max-width: 42rem; }
  @media only screen and (max-width: 56.25em) {
    .resume {
      display: none; } }

.title-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem; }
  @media only screen and (max-width: 56.25em) {
    .title-container {
      justify-content: center; } }

.about-info-section {
  max-width: 66rem; }

.about-content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .about-content {
      text-align: center;
      justify-content: center;
      align-items: center; } }

.about-contact-info {
  margin-left: auto;
  max-width: 40rem; }
  @media only screen and (max-width: 56.25em) {
    .about-contact-info {
      display: none; } }

.projects {
  position: relative;
  padding: 8rem 0;
  background-color: var(--color-primary); }

.project-link,
.project-link:link,
.project-link:visited {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.25s linear; }
  .project-link:hover,
  .project-link:link:hover,
  .project-link:visited:hover {
    cursor: pointer;
    filter: brightness(110%); }
  @media only screen and (max-width: 56.25em) {
    .project-link,
    .project-link:link,
    .project-link:visited {
      display: block; } }

.project-link:hover .right-arrow {
  margin-left: 2rem; }

.projects-content {
  display: flex;
  align-items: center;
  height: 70rem; }
  @media only screen and (max-width: 100em) {
    .projects-content {
      justify-content: center; } }
  @media only screen and (max-width: 56.25em) {
    .projects-content {
      flex-direction: column; } }

.projects-text {
  min-width: 25rem;
  margin-right: 4rem; }
  @media only screen and (max-width: 81.25em) {
    .projects-text {
      width: 20rem; } }
  @media only screen and (max-width: 56.25em) {
    .projects-text {
      text-align: center; } }

.projects-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 56.25em) {
    .projects-img {
      display: none; } }

.design {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-primary-dark);
  padding: 8rem 0;
  min-height: 100vh; }
  @media only screen and (max-width: 56.25em) {
    .design {
      min-height: 70vh; } }

.content-design {
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .content-design {
      flex-direction: column;
      text-align: center; } }

.info-section-design {
  margin-right: 4rem; }

.contact {
  padding: 8rem 0;
  background-color: var(--color-primary); }

.contact-content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .contact-content {
      align-items: center;
      justify-content: center; } }

.info-box {
  display: flex; }

.info-content {
  display: flex;
  flex-direction: column; }

.contact-form {
  margin-left: auto;
  min-width: 60rem; }
  @media only screen and (max-width: 56.25em) {
    .contact-form {
      margin-left: 0;
      text-align: center;
      min-width: 45rem; } }

.input-box {
  display: flex; }

.copyright {
  padding: 3rem 0;
  background-color: var(--color-primary); }

@media only screen and (max-width: 56.25em) {
  .contact-details {
    display: none; } }

.certificate-box {
  display: flex;
  align-items: center;
  justify-content: center; }

.u-unselectable-text {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */ }

.u-no-margin {
  margin: 0 !important; }

.u-no-decoration {
  text-decoration: none; }
