.intro {
  position: relative;
  background-color: var(--color-primary);
  padding-bottom: 12rem;
}

.about {
  position: relative;
  background-color: var(--color-primary-dark);
  padding: 13rem 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white !important;
  font-size: 1.9rem;
  padding: 1.5rem 0;
}

.container {
  max-width: 1300px;
}

.content {
  display: flex;
}

.resume {
  margin-left: auto;
  margin-top: 18rem;
  max-width: 42rem;
}

.title-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.about-info-section {
  max-width: 66rem;
}

.about-content {
  display: flex;
}

.about-contact-info {
  margin-left: auto;
  max-width: 40rem;
}

.projects {
  position: relative;
  padding: 8rem 0;
  background-color: var(--color-primary);
}

.project-link,
.project-link:link,
.project-link:visited {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.25s linear;

  &:hover {
    cursor: pointer;
    filter: brightness(110%);
  }
}

.project-link:hover .right-arrow {
  margin-left: 2rem;
}

.projects-content {
  display: flex;
  align-items: center;
  height: 70rem;
}

.projects-text {
  min-width: 25rem;
  margin-right: 4rem;
}

.projects-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.design {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-primary-dark);
  padding: 8rem 0;
  min-height: 100vh;
}

.content-design {
  display: flex;
  align-items: center;
}

.info-section-design {
  margin-right: 4rem;
}

.contact {
  padding: 8rem 0;
  background-color: var(--color-primary);
}

.contact-content {
  display: flex;
}

.info-box {
  display: flex;
}

.info-content {
  display: flex;
  flex-direction: column;
}

.contact-form {
  margin-left: auto;
}

.input-box {
  display: flex;
}
