.intro {
  position: relative;
  background-color: var(--color-primary);
  padding-bottom: 12rem;
}

.intro-certificate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.about {
  position: relative;
  background-color: var(--color-primary-dark);
  padding: 13rem 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white !important;
  font-size: 1.9rem;
  padding: 1.5rem 0;

  @include media(tab-port-big) {
    display: none;
  }
}

.navbar-mobile {
  display: none;
  align-items: center;
  justify-content: space-between;
  color: white !important;
  font-size: 1.9rem;
  padding: 1.5rem 0;

  @include media(tab-port-big) {
    display: flex;
  }
}

.nav-active {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.links-mobile {
  font-size: 3rem;
}

.link-box-mobile {
  margin-bottom: 1.5rem;
}

.close-cross {
  position: absolute;
  font-size: 3rem;
  top: 2.5rem;
  right: 5.5rem;
}

.container {
  max-width: 1300px;
}

.content {
  display: flex;
}

.resume {
  margin-left: auto;
  margin-top: 18rem;
  max-width: 42rem;

  @include media(tab) {
    display: none;
  }
}

.title-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;

  @include media(tab) {
    justify-content: center;
  }
}

.about-info-section {
  max-width: 66rem;
}

.about-content {
  display: flex;

  @include media(tab) {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

.about-contact-info {
  margin-left: auto;
  max-width: 40rem;

  @include media(tab) {
    display: none;
  }
}

.projects {
  position: relative;
  padding: 8rem 0;
  background-color: var(--color-primary);
}

.project-link,
.project-link:link,
.project-link:visited {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.25s linear;

  &:hover {
    cursor: pointer;
    filter: brightness(110%);
  }

  @include media(tab) {
    display: block;
  }
}

.project-link:hover .right-arrow {
  margin-left: 2rem;
}

.projects-content {
  display: flex;
  align-items: center;
  height: 70rem;

  @include media(desktop-1600) {
    justify-content: center;
  }

  @include media(tab) {
    flex-direction: column;
  }
}

.projects-text {
  min-width: 25rem;
  margin-right: 4rem;

  @include media(desktop-1300) {
    width: 20rem;
  }

  @include media(tab) {
    text-align: center;
  }
}

.projects-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include media(tab) {
    display: none;
  }
}

.design {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-primary-dark);
  padding: 8rem 0;
  min-height: 100vh;

  @include media(tab) {
    min-height: 70vh;
  }
}

.content-design {
  display: flex;
  align-items: center;

  @include media(tab) {
    flex-direction: column;
    text-align: center;
  }
}

.info-section-design {
  margin-right: 4rem;
}

.contact {
  padding: 8rem 0;
  background-color: var(--color-primary);
}

.contact-content {
  display: flex;

  @include media(tab) {
    align-items: center;
    justify-content: center;
  }
}

.info-box {
  display: flex;
}

.info-content {
  display: flex;
  flex-direction: column;
}

.contact-form {
  margin-left: auto;
  min-width: 60rem;

  @include media(tab) {
    margin-left: 0;
    text-align: center;
    min-width: 45rem;
  }
}

.input-box {
  display: flex;
}

.copyright {
  padding: 3rem 0;
  background-color: var(--color-primary);
}

.contact-details {
  @include media(tab) {
    display: none;
  }
}

.certificate-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
