:root {
  --color-black: black;
  --color-white: white;
  --color-primary: #222222;
  --color-primary-dark: #1f1f1f;
  --color-secondary: #f26c4f;
  --color-tertiary: #00feba;
  --text-color: #c4c4c4; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  background-repeat: no-repeat;
  overflow-x: hidden;
  color: white; }

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  font-weight: 300; }

.link-box {
  margin-right: 3rem;
  transition: all 0.25s linear; }
  .link-box:hover {
    cursor: pointer;
    color: var(--color-secondary); }

.main-box {
  background-color: var(--color-secondary);
  padding: 0.5rem 1.5rem;
  font-size: 3.5rem;
  font-weight: 700; }
  .main-box:hover {
    cursor: pointer; }

.language-changer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary);
  padding: 0.75rem 1.5rem;
  font-size: 2rem;
  font-weight: 300;
  transition: all 0.3s; }
  .language-changer:hover {
    cursor: pointer; }

.down-icon {
  margin-left: 0.75rem;
  font-size: 1rem; }

.name-content {
  position: relative;
  color: white;
  font-size: 14rem;
  font-weight: 700;
  max-width: 60rem;
  line-height: 13.5rem;
  margin-top: 15rem; }

.last-name {
  margin-left: 12rem; }

.small-title-alt {
  min-width: 20rem;
  font-size: 2rem;
  font-weight: 400;
  color: var(--color-tertiary); }

.bar {
  height: 1px;
  width: 100%;
  margin-left: 2rem;
  background-color: var(--color-tertiary); }

.title {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 3rem; }

.text {
  font-size: 2.35rem;
  line-height: 1.5;
  margin-bottom: 3rem;
  font-weight: 300;
  color: var(--text-color); }

.resume-contact {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--color-tertiary); }

.arrow {
  position: absolute;
  bottom: 0; }

.title-main-color {
  color: var(--color-secondary);
  min-width: auto; }

.bar-small {
  width: 4rem;
  background-color: var(--color-secondary); }

.btn {
  font-size: 2rem;
  padding: 1rem 2.5rem;
  background-color: var(--color-secondary);
  color: white;
  font-weight: 500; }
  .btn:hover {
    color: white; }

.about-contact {
  text-decoration: underline; }

.envelope-icon,
.envelope-icon:link,
.envelope-icon:visited {
  margin-left: 1.5rem;
  color: var(--color-tertiary);
  text-decoration: underline; }
  .envelope-icon:hover,
  .envelope-icon:link:hover,
  .envelope-icon:visited:hover {
    cursor: pointer; }

.intro {
  background-color: var(--color-primary);
  padding-bottom: 12rem; }

.about {
  background-color: var(--color-primary-dark);
  padding: 13rem 0; }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white !important;
  font-size: 1.9rem;
  padding: 1.5rem 0; }

.container {
  max-width: 1300px; }

.content {
  display: flex; }

.resume {
  margin-left: auto;
  margin-top: 18rem;
  max-width: 42rem; }

.title-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem; }

.about-info-section {
  max-width: 66rem; }

.about-content {
  display: flex; }

.about-contact-info {
  margin-left: auto;
  max-width: 40rem; }

.u-unselectable-text {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */ }

.u-no-margin {
  margin: 0 !important; }

.u-no-decoration {
  text-decoration: none; }
