:root {
  --color-black: black;
  --color-white: white;
  --color-primary: #222222;
  --color-primary-dark: #1f1f1f;
  --color-secondary: #f26c4f;
  --color-tertiary: #00feba;
  --text-color: #c4c4c4; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  background-repeat: no-repeat;
  overflow-x: hidden;
  color: white; }

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  font-weight: 300; }

.link-box {
  margin-right: 3rem;
  transition: all 0.25s linear; }
  .link-box:hover {
    cursor: pointer;
    color: var(--color-secondary); }

.main-box {
  background-color: var(--color-secondary);
  padding: 0.5rem 1.5rem;
  font-size: 3.5rem;
  font-weight: 700; }
  .main-box:hover {
    cursor: pointer; }

.language-changer,
.language-changer:link,
.language-changer:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary);
  padding: 0.75rem 1.5rem;
  font-size: 2rem;
  font-weight: 300;
  color: white;
  text-decoration: none;
  transition: all 0.3s; }
  .language-changer:hover,
  .language-changer:link:hover,
  .language-changer:visited:hover {
    cursor: pointer; }

.world-icon {
  margin-left: 0.75rem;
  font-size: 1.4rem; }

.name-content {
  position: relative;
  color: white;
  font-size: 14rem;
  font-weight: 700;
  max-width: 60rem;
  line-height: 13.5rem;
  margin-top: 15rem; }

.last-name {
  margin-left: 12rem; }

.small-title-alt {
  min-width: 20rem;
  font-size: 2rem;
  font-weight: 400;
  color: var(--color-tertiary); }

.bar {
  height: 1px;
  width: 100%;
  margin-left: 2rem;
  background-color: var(--color-tertiary); }

.title {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 3rem; }

.text {
  font-size: 2.35rem;
  line-height: 1.5;
  margin-bottom: 3rem;
  font-weight: 300;
  color: var(--text-color); }

.resume-contact {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--color-tertiary); }

.arrow {
  position: absolute;
  bottom: 0; }

.title-main-color {
  color: var(--color-secondary);
  min-width: auto; }

.bar-small {
  width: 4rem;
  background-color: var(--color-secondary); }

.btn {
  font-size: 1.8rem;
  padding: 1rem 2.5rem;
  background-color: var(--color-secondary);
  color: white;
  font-weight: 500;
  transition: all 0.25s linear; }
  .btn:hover {
    color: white;
    filter: brightness(115%); }

.about-contact {
  text-decoration: underline; }

.envelope-icon,
.envelope-icon:link,
.envelope-icon:visited {
  margin-left: 1.5rem;
  color: var(--color-tertiary);
  text-decoration: underline; }
  .envelope-icon:hover,
  .envelope-icon:link:hover,
  .envelope-icon:visited:hover {
    cursor: pointer; }

.title-link {
  min-width: auto; }

.right-arrow {
  margin-left: 1.5rem;
  transition: all 0.25s linear; }

.small-title,
.small-title:visited,
.small-title:link {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  font-weight: 400;
  filter: brightness(80%);
  transition: all 0.25s linear; }
  .small-title:hover,
  .small-title:visited:hover,
  .small-title:link:hover {
    cursor: pointer;
    filter: brightness(100%); }

.github-icon {
  margin-left: 1rem; }

.arrow-icon-slide {
  font-size: 2rem; }

.tablet-carousel {
  width: 85rem;
  object-fit: contain; }

.carousel-item {
  transition: all 0.8s ease-in-out; }

.plane-tablet {
  width: 74rem; }

.underline {
  text-decoration: underline; }

.ig-link,
.ig-link:visited,
.ig-link:link {
  color: var(--color-secondary) !important;
  transition: all 0.25s linear; }
  .ig-link:hover,
  .ig-link:visited:hover,
  .ig-link:link:hover {
    cursor: pointer;
    filter: brightness(120%);
    text-decoration: none; }

.color-secondary {
  color: var(--color-secondary); }

.info-text {
  margin: 0;
  font-size: 2rem;
  font-weight: 500; }

.title-small {
  font-size: 2.5rem; }

.info-icon {
  font-size: 4rem;
  height: 4rem;
  width: 4rem;
  margin-right: 2rem;
  color: var(--color-secondary); }

.phone-icon {
  font-size: 6rem; }

.title-color-tertiary {
  color: var(--color-tertiary); }

.input {
  padding: 1.5rem 5rem 1.5rem 2rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  width: 100%;
  background-color: #303030;
  color: #c4c4c4;
  font-weight: 500;
  border: none; }
  .input::placeholder {
    font: "Poppins";
    color: #c4c4c4;
    font-weight: 500; }

.input-textarea {
  height: 12.5rem;
  resize: none; }

.input-icon {
  font-size: 1.6rem;
  color: var(--color-tertiary);
  margin-top: 1.5rem;
  margin-left: -4rem;
  z-index: 100; }

.submit-btn {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  font-size: 1.6rem; }
  .submit-btn:hover {
    color: var(--color-primary); }

.copyright-text {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-color); }

.error-text {
  font-size: 1.6rem;
  color: var(--color-secondary);
  margin: 0.5rem 0; }

.hasnt-error {
  box-shadow: 0 0 0.3rem 0.1rem #00feba; }

.has-error {
  box-shadow: 0 0 0.3rem 0.1rem #f26c4f;
  margin-bottom: 0rem; }

.status-msg {
  text-align: center;
  padding: 1.5rem 5rem 1.5rem 2rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  width: 100%;
  font-weight: 500;
  border: none; }

.err {
  background-color: var(--color-secondary);
  color: white; }

.success {
  background-color: var(--color-tertiary);
  color: var(--color-primary); }

.intro {
  position: relative;
  background-color: var(--color-primary);
  padding-bottom: 12rem; }

.about {
  position: relative;
  background-color: var(--color-primary-dark);
  padding: 13rem 0; }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white !important;
  font-size: 1.9rem;
  padding: 1.5rem 0; }

.container {
  max-width: 1300px; }

.content {
  display: flex; }

.resume {
  margin-left: auto;
  margin-top: 18rem;
  max-width: 42rem; }

.title-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem; }

.about-info-section {
  max-width: 66rem; }

.about-content {
  display: flex; }

.about-contact-info {
  margin-left: auto;
  max-width: 40rem; }

.projects {
  position: relative;
  padding: 8rem 0;
  background-color: var(--color-primary); }

.project-link,
.project-link:link,
.project-link:visited {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.25s linear; }
  .project-link:hover,
  .project-link:link:hover,
  .project-link:visited:hover {
    cursor: pointer;
    filter: brightness(110%); }

.project-link:hover .right-arrow {
  margin-left: 2rem; }

.projects-content {
  display: flex;
  align-items: center;
  height: 70rem; }

.projects-text {
  min-width: 25rem;
  margin-right: 4rem; }

.projects-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.design {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-primary-dark);
  padding: 8rem 0;
  min-height: 100vh; }

.content-design {
  display: flex;
  align-items: center; }

.info-section-design {
  margin-right: 4rem; }

.contact {
  padding: 8rem 0;
  background-color: var(--color-primary); }

.contact-content {
  display: flex; }

.info-box {
  display: flex; }

.info-content {
  display: flex;
  flex-direction: column; }

.contact-form {
  margin-left: auto;
  min-width: 60rem; }

.input-box {
  display: flex; }

.copyright {
  padding: 3rem 0;
  background-color: var(--color-primary); }

.u-unselectable-text {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */ }

.u-no-margin {
  margin: 0 !important; }

.u-no-decoration {
  text-decoration: none; }
